extends layout.pug

block content
    h1 An error has occurred.
    h2= `${err.message} - Status: ${err.status}`
    img.thumbnail(src= '/static/images/error.png', alt= 'Error Image')
    p= err.stack
    nav.nav
        a(href='/') Go Home