extends layout.pug

block content

  article.portfolio-intro

    h1 Jon Hay's Portfolio

    p Here are a few of the JavaScript projects that I've been working on over the past few months.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src= project.image_urls[1], alt= project.project_name)
            h5= project.project_name