extends layout.pug

block content
    h1= `${error.message} - Status: ${error.status}`
    img.thumbnail(src= '/static/images/error.png', alt= 'Error Image')
    p= error.stack
    nav.nav
        a(href='/') Go Home